<main>
    <section class="users">
    </section>
    <section class="message">
        <div class="message-text">
        </div>
        <form class="input-with-button">
            <input id="input" placeholder="Escribe tu mensaje"></input>
            <button>
               Send
            </button>

        </form>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/message.js"></script>