<section class="section">
    <h2>Login</h2>
    <form id="login" class="form">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Ingrese su email" name="email">
        
        <label for="password">Password</label> 
        <input id="password" type="password" placeholder="Ingrese su contrasena" name="password">
           <input class="button" type="submit" value="Login">
           <p>No tienes una cuenta? <a href="http://localhost:8080/users/register">haz click aqui</a></p>
    </form>
</section>

<script src="/js/login.js"></script>